page-auth {
 ion-content {
    background: url('../assets/img/bk.jpg');
 }

 .raw-text {
    color: #fff;
    font-size: 17px;
 }

 .text {
    color: #000;
    font-size: 10px;
 }

 .logo-bottom{
   margin-bottom: 150px;
 }
}
